<h1>Task:</h1>


<h3> <%= @task.name %></h3>
<p><b><%= @task.done ? "Done" : "To-Do" %>: </b><%= @task.deadline %></p>

<%= link_to "Edit", edit_task_path %>
<%= link_to "Delete", task_path, method: :delete, data: { confirm: 'Are you sure?' } %>


<%= link_to "Home", root_path %>
